
.speedometer-app-container {
display: flex;
justify-content: center;
align-items: center;
background-color: #07080c;
height: 100vh;
}

.speedometer-container {
display: flex;
flex-direction: column;
align-items: center;
}

.heading {
color: #ffffff;
font-family: 'Roboto';
font-size: 36px;
font-style: italic;
font-weight: 500;
}

@media screen and (min-width: 768px) {
.heading {
font-size: 48px;
}
}

.speedometer-image {
width: 300px;
height: 125px;
}